<script lang="ts">
	export let data;
</script>

<nav>
	<ul>
		<li><a href="/posts">Posts</a></li>
	</ul>
</nav>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

{data.content}
